{
  "openapi": "3.0.1",
  "info": {
    "title": "Interface API Demo",
    "description": "Interface API for Infor ION API",
    "termsOfService": "http://www.proline.co.th/terms",
    "contact": {
      "name": "Jarat J.",
      "url": "http://www.proline.co.th/#contact",
      "email": "jarat@proline.co.th"
    },
    "license": {
      "name": "Use under LICX",
      "url": "http://www.proline.co.th/license"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://inforos.gdeinfor2.com:7443/infor/CustomerApi/interface/v1"
    }
  ],
  "paths": {
    "/api/interfaceorders": {
      "get": {
        "tags": [
          "InterfaceOrders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Orders"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Orders"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Orders"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "InterfaceOrders"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orders"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Orders"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Orders"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              }
            }
          }
        }
      }
    },
    "/api/interfaceorders/{id}": {
      "get": {
        "tags": [
          "InterfaceOrders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "InterfaceOrders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orders"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Orders"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Orders"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "InterfaceOrders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              }
            }
          }
        }
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/getorders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Orders": {
        "required": [
          "plannedDeliveryDate",
          "plannedReceiptDate"
        ],
        "type": "object",
        "properties": {
          "orderNo": {
            "type": "string",
            "nullable": true
          },
          "bp": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "office": {
            "type": "string",
            "nullable": true
          },
          "plannedDeliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "plannedReceiptDate": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      }
    }
  }
}